# --- Data Processing & Storage ---
pandas
confluent-kafka
pyarrow
minio
pymongo
delta-spark
datasets

# --- Web App & API ---
fastapi
uvicorn
jinja2
python-multipart

# --- Configuration ---
python-dotenv

# --- Machine Learning & Recommender System ---
numpy
pymilvus