# --- Data Processing & Storage ---
pandas
confluent-kafka
pyarrow
minio
pymongo
delta-spark
datasets

# --- Configuration ---
python-dotenv

# --- Machine Learning & Recommender System ---
numpy
pymilvus>=2.3.0

# yt api
ytmusicapi
